In [1]:
import pandas as pd

In [2]:
populacao = [1,2,3,4,5,6,7,8,9,10,11,12]
df = pd.DataFrame(populacao, columns=['values'])

In [3]:
df

    values
0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12

In [12]:
df.shape#Mostra o numero de linhas e colunas

(12, 1)

In [4]:
df.sample(n=4) #numero da amostra

   values
5       6
3       4
9      10
6       7

In [5]:
df.sample(frac=0.5) #percentual da amostra

    values
10      11
4        5
9       10
6        7
8        9
1        2

In [6]:
tamanho_população = len(populacao)
for i in range(1,tamanho_população,3):#Pega um número da amostra a cada 3 numeros
    print(populacao[i])

2
5
8
11

In [7]:
import numpy as np

In [9]:
amostra_sistematica_exemplo = []
tamanho_população = len(populacao)
for i in range(1,tamanho_população,3):#Pega um número da amostra a cada 3 numeros
    print(populacao[i])
    amostra_sistematica_exemplo.append(populacao[i]) #Adiciona os valores a amostra à Lista

2
5
8
11

In [10]:
amostra_sistematica_exemplo

[2, 5, 8, 11]

In [11]:
np.arange(1,12,step=3)#Usando Numpy e Pandas

array([ 1,  4,  7, 10])

In [ ]:
def amostra_sistematica(df, inicio = 0, passos=3):
    indexes = np.arange(inicio, df.shape[0], step=passos)
    amostra = df.iloc[indexes]
    return amostra