In [1]:
import pandas as pd

In [14]:
dados = {
    'data': [],
    'caixa': [],
    'receber': [],
    'vendas': [],
    'estoque': [],
    'saidas': [],
    'frete': []
}

In [20]:
df = pd.DataFrame(dados)

In [15]:
df.to_csv('dados_financeiros_bm.csv', index=False)

In [21]:
nova_linha = {'data':2023-8-30,
              'caixa':2857.25, 
              'receber': 203.53, 
              'vendas': 1804.59, 
              'estoque': 17577.15, 
              'saidas': 253.86, 
              'frete': 0}

In [19]:
df = df.ap

AttributeError: 'DataFrame' object has no attribute 'append'

In [13]:
df

Empty DataFrame
Columns: [data, caixa, receber, vendas, estoque, saidas, frete]
Index: []