In [2]:
import pandas as pd

In [30]:
dados = {
    'mes':[],
    'ano':[],
    'caixa': [],
    'receber': [],
    'vendas': [],
    'estoque': [],
    'saidas': [],
    'frete': []
}

In [56]:
df = pd.DataFrame(dados)

In [32]:
df.to_csv('dados_financeiros_bm.csv', index=False)

In [13]:
nova_linha = {'mes':'agosto',
              'ano':2023,
              'caixa':2857.25, 
              'receber': 203.53, 
              'vendas': 1804.59, 
              'estoque': 17577.15, 
              'saidas': 253.86, 
              'frete': 0}

In [9]:
df = pd.read_csv('dados_financeiros_bm.csv')

In [39]:
lista=['setembro',2025,568.65,789.65,789.36,123.65,25.69,5]

In [55]:
df.loc[len(df)] = lista
df

        mes   ano   caixa  receber  vendas  estoque  saidas  frete
0  setembro  2025  568.65   789.65  789.36   123.65   25.69      5
1  setembro  2025  568.65   789.65  789.36   123.65   25.69      5
2  setembro  2025  568.65   789.65  789.36   123.65   25.69      5
3  setembro  2025  568.65   789.65  789.36   123.65   25.69      5
4  setembro  2025  568.65   789.65  789.36   123.65   25.69      5
5  setembro  2025  568.65   789.65  789.36   123.65   25.69      5
6  setembro  2025  568.65   789.65  789.36   123.65   25.69      5

In [57]:
df

Empty DataFrame
Columns: [mes, ano, caixa, receber, vendas, estoque, saidas, frete]
Index: []