In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('BigmacPrice.csv')

In [3]:
df.head()

         date currency_code       name  local_price  dollar_ex  dollar_price
0  2000-04-01           ARS  Argentina         2.50          1          2.50
1  2000-04-01           AUD  Australia         2.59          1          2.59
2  2000-04-01           BRL     Brazil         2.95          1          2.95
3  2000-04-01           GBP    Britain         1.90          1          1.90
4  2000-04-01           CAD     Canada         2.85          1          2.85

In [4]:
df.dtypes

date              object
currency_code     object
name              object
local_price      float64
dollar_ex          int64
dollar_price     float64
dtype: object

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.count()

date             1946
currency_code    1946
name             1946
local_price      1946
dollar_ex        1946
dollar_price     1946
dtype: int64

In [14]:
df_filtered = df[df['date'] == '2022-07-01']

In [8]:
df_filtered.head()

,date,currency_code,name,local_price,dollar_ex,dollar_price
1876,2022-07-01,ARS,Argentina,590.00,129,4.57
1877,2022-07-01,AUD,Australia,6.70,1,6.70
1878,2022-07-01,EUR,Austria,4.35,1,4.35
1879,2022-07-01,AZN,Azerbaijan,4.70,1,4.70
1880,2022-07-01,BHD,Bahrain,1.60,1,1.60

In [15]:
df_filtered.count()

date             70
currency_code    70
name             70
local_price      70
dollar_ex        70
dollar_price     70
dtype: int64

In [29]:
df_group = df_filtered.groupby('name')

In [33]:
df_group.head()

,date,currency_code,name,local_price,dollar_ex,dollar_price
1876,2022-07-01,ARS,Argentina,590.00,129,4.57
1877,2022-07-01,AUD,Australia,6.70,1,6.70
1878,2022-07-01,EUR,Austria,4.35,1,4.35
1879,2022-07-01,AZN,Azerbaijan,4.70,1,4.70
1880,2022-07-01,BHD,Bahrain,1.60,1,1.60
...,...,...,...,...,...,...
1941,2022-07-01,AED,United Arab Emirates,18.00,3,6.00
1942,2022-07-01,USD,United States,5.15,1,5.15
1943,2022-07-01,UYU,Uruguay,255.00,41,6.22
1944,2022-07-01,VES,Venezuela,10.00,5,2.00
1945,2022-07-01,VND,Vietnam,69000.00,23417,2.95

In [34]:
df_filtered.to_csv('BigmacPriceJuly2022.csv', index = False)

In [44]:
df = pd.read_csv('BigmacPriceJuly2022.csv')

In [45]:
df['dollar_price'].mode()

0    4.00
1    4.58
Name: dollar_price, dtype: float64

In [47]:
df['dollar_price'].value_counts()

dollar_price
4.58    3
4.00    3
3.50    2
5.67    2
3.71    2
       ..
2.85    1
2.30    1
1.30    1
6.70    1
2.95    1
Name: count, Length: 61, dtype: int64

In [48]:
df['dollar_price'].mean()

4.003571428571429

In [50]:
df['dollar_price'].median()

3.9050000000000002

In [1]:
import numpy as np

In [3]:
df = pd.read_csv('BigmacPriceJuly2022.csv')

In [4]:
df

,date,currency_code,name,local_price,dollar_ex,dollar_price
0,2022-07-01,ARS,Argentina,590.00,129,4.57
1,2022-07-01,AUD,Australia,6.70,1,6.70
2,2022-07-01,EUR,Austria,4.35,1,4.35
3,2022-07-01,AZN,Azerbaijan,4.70,1,4.70
4,2022-07-01,BHD,Bahrain,1.60,1,1.60
...,...,...,...,...,...,...
65,2022-07-01,AED,United Arab Emirates,18.00,3,6.00
66,2022-07-01,USD,United States,5.15,1,5.15
67,2022-07-01,UYU,Uruguay,255.00,41,6.22
68,2022-07-01,VES,Venezuela,10.00,5,2.00
69,2022-07-01,VND,Vietnam,69000.00,23417,2.95

In [9]:
variancia_np = np.var(df['dollar_price'])

In [10]:
variancia_np

1.8050258163265305

In [11]:
variancia_pd = df['dollar_price'].var()

In [12]:
variancia_pd

1.8311856107660454

In [13]:
desvio_padrao_np = np.std(df['dollar_price'])
desvio_padrao_pd = df['dollar_price'].std()

In [15]:
desvio_padrao_np

1.3435124920619572

In [16]:
desvio_padrao_pd

1.3532130692415165

In [17]:
media_pd = df['dollar_price'].mean()

In [18]:
coeficiente_variacao = desvio_padrao_pd/media_pd*100

In [19]:
coeficiente_variacao

33.80014802744198

In [20]:
from scipy.stats import pearsonr

In [35]:
from scipy.stats import spearmanr

In [38]:
df.corr(method='spearman')

ValueError: could not convert string to float: '2022-07-01'